<template name="appHeader">
  <div class="app-header">
    <div class="left-section">
    {{#if currentUser}}
      <button type="button" class="icon-button medium-button sidebar" title="View menu" alt="View menu">
        <i class="fa fa-bars"></i>
      </button>
      {{/if}}
    </div>
    <div class="middle-section">
      &nbsp;
    </div>
    <div class="right-section">
      {{#if currentUser}}
        <div class="dropdown-container">
          {{#dropdownTrigger name="user_nav_dropdown"}}
            <button class="btn-unstyled">
              {{#with currentUser}}
                {{> avatar user=this shape="circle"}}
              {{/with}}
            </button>
          {{/dropdownTrigger}}
          {{#dropdown name="user_nav_dropdown"}}
            <button class="unstyled logout">
              Sign Out
            </button>
          {{/dropdown}}
        </div>
        {{else}}
          <button type="button" class="icon-button medium-button modal-login" title="Sign in" alt="Sign In">
            <i class="fa fa-sign-in"></i>
          </button>        
      {{/if}}
    </div>
  </div>
</template>

