<template name="viewSlide">
  <div class="display-table full-height">
    <div class="table-row full-width full-height">
      <div class="table-cell full-width full-height">
        <div class="slide slide-content pointer-cursor">
          {{slideContent}}
        </div>
      </div>
      <div class="table-cell sidebar-column vertical-bottom">
        <button type="button" class="icon-button medium-button edit-content" title="Edit page content" alt="Edit page content"><i class="fa fa-pencil fa-2x"></i></button>
      </div>
    </div>
  </div>
</template>
