<template name="slideControls">
      <div class="display-table app-controls full-height">
        <div class="table-row">
          <div class="table-cell vertical-top">
          {{#if fullScreenActive}}
             <button type="button" class="icon-button medium-button toggle-fullscreen" title="Exit full screen" alt="Exit full screen"><i class="fa fa-times fa-2x"></i></button>
          {{else}}
             <button type="button" class="icon-button medium-button toggle-fullscreen" title="Start Presentation" alt="Start Presentation"><i class="fa fa-youtube-play fa-3x"></i></button>
           {{/if}}
          </div>
        </div>
         {{#unless fullScreenActive}}
        <div class="table-row">
          <div class="table-cell vertical-bottom bottom-cell">
           <button type="button" class="icon-button medium-button clear-content" title="Clear page content" alt="Clear page content"><i class="fa fa-trash-o fa-2x"></i></button>
          </div>
        </div>
        {{/unless}}
      </div>
</template>