html, body
  height: 100%
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  // font-size: 100%
  line-height: 1.5
  font-family: $roboto-family
  font-size: $base-font-size
  color: $off-black
  background-color: $app-bg-color
  overflow:hidden

  &.view-mode
    background-color: $view-mode-bg-color