//White to black
// ____________________________________________
$off-white:                             #F4F4F4
$very-light-gray:                       #F5F5F5
$mid-light-gray:                        #DEDEDE
$light-gray:                            #D5D5D5
$gray:                                  #B8B8B8
$steel-gray:                            #666666
$off-black:                             #333333


// LINKS AND BUTTONS
// ____________________________________________
$button-gray:                           #D9D9D9
$link-color:                            #4183c4


// UNUSED?
// ____________________________________________
$base-color:                               #222
$app-bg-color:                          #e6e6e6
$view-mode-bg-color:                    #ffffff


body
  color: $off-black
  background-color: #DEDEDE

.main-content
  color: $off-black
  background-color: white

.app-header, .app-footer
  color: white
  background-color: $off-black

