html
  height: 100%
  box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

// .app-container appended to body tag in client/lib/startup.js
.app-container
  display: flex
  min-height: 100%
  flex-direction: column
  max-width: 80em
  margin-left: auto
  margin-right: auto

.main-content
  padding:1em 1.75em
  flex: 1 0 auto
  display: flex
  flex-direction: column

.app-header, .app-footer
  padding:.5em .75em
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  
  .middle-section
    flex: 1

.app-header
  height: 3em

.app-footer
  height: 6em

// .flex-1
//   flex: 1

// Layout Helpers
// ________________________

.no-padding
  padding:0

.no-margin
  margin:0