// Source: https://marcdrummond.com/posts/2014/08/04/adding-sticky-footer-flexbox
html
  height: 100%
  box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

// appended to body tag in client/lib/startup.js
.app-container
  display: flex
  min-height: 100%
  flex-direction: column

.main-content
  flex: 1 0 auto

// Layout Helpers
// ________________________

.no-padding
  padding:0

.no-margin
  margin:0