// .slide
//   @media all and (max-width:550px)
//     font-size: 1em

@media all and (max-width:600px)

  .slide
    font-size: 1.5em

  .help-text
    font-size: .75em

  .brand
    font-size: 1.25em

  .fa-2x
    font-size:1.5em

  h1
    font-size: 1em
    // margin-top: .25em
    // margin-bottom: .5em
    // line-height: 1.1

  h2
    font-size: .75em
    // margin-top: .25em
    // margin-bottom: .5em
    // line-height: 1.1  

  h3
    font-size: .5em
    // margin-top: .25em
    // margin-bottom: .5em
    // line-height: 1.1  


  h4
    font-size: .4em
    // margin-top: .25em
    // margin-bottom: .5em
    // line-height: 1.1  

