.app-content-row
  height: 90%

.slide
  overflow: auto
  font-size: 3em
  border: 1px solid $light-gray
  background-color: white
  text-align: left
  padding: .2em .75em 0 .75em
  margin: 0
  outline: none
  resize: none

  -webkit-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)
  -moz-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)
  box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)

  // &.edit-slide
  //   outline: none
  //   resize: none

// .slide-footer
//   padding-top: 1em


.brand 
  font-family: $courgette-family
  font-size: 1.5em
  padding: .25em
  color: $gray
  width: 4em
 

.app-info
  text-align: center
  color: $gray
  font-size: 1.75em
  margin:0
  padding:0

.app-controls
  width: 5em

.bottom-cell
  padding-bottom: .5em

.icon-cell
  height: 5em