.editor, .viewer
  font-size: 3em
  overflow: auto
  text-align: left
  // height: 100%
  width: 100%
  flex: 1
      
.editor
  outline: none
  resize: none
  border: none

  // border: 1px solid $light-gray
  background-color: white

  padding: 0
  // padding: .2em .75em 0 .75em
  margin: 0


.viewer


  // -webkit-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)
  // -moz-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)
  // box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)

  // &.edit-slide
  //   outline: none
  //   resize: none

// .slide-footer
//   padding-top: 1em


