// LISTS

.horizontal
  list-style-type: none
  margin-left: 0
  padding-left: 0

  li
    display: inline;
    // padding-right: .15em
  
// LINKS

a.icon-link i
  color: $gray

  &:visited i, &:active i
    color: $gray
