body
  line-height: 1.5
  font-family: $roboto-family
  font-size: $base-font-size

.app-header
  font-size: .8em

.small-text
  font-size: .75em


// LISTS

.horizontal
  list-style-type: none
  margin-left: 0
  padding-left: 0

  li
    display: inline;
    // padding-right: .15em
    
// VIEWER
// ________________________________

.viewer
  p
  margin-top: .5em
  margin-bottom: .5em 

  h1
    font-size: 1.5em
    margin-top:0
    margin-bottom: .5em
    line-height: 1.1

  h2
    font-size: 1.25em
    margin-top: .25em
    margin-bottom: .5em
    line-height: 1.1  

  h3
    font-size: 1em
    margin-top: .25em
    margin-bottom: .5em
    line-height: 1.1  


  h4
    font-size: .75em
    margin-top: .25em
    margin-bottom: .5em
    line-height: 1.1  

  
// LINKS
// ________________________________
a.icon-link i
  color: $gray

  &:visited i, &:active i
    color: $gray

.display-inline
  display: inline
  height: 2em


// BUTTONS
.with-help
  margin: 0
  padding: 0

@media all and (max-width:600px)

  .slide
    font-size: 1.5em

  .help-text
    font-size: .75em

  .brand
    font-size: 1.25em

  .fa-2x
    font-size:1.5em

  h1
    font-size: 1em


  h2
    font-size: .75em

  h3
    font-size: .5em

  h4
    font-size: .4em

