// LAYOUT
// ________________________________________
$app-padding:                          1.75em;
$app-header-height:                    4em;
$container-margin:                     1em;

// TEXT
// _________________________________________
$helvetica-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$roboto-family:        'Roboto Slab', serif;
$courgette-family:      'Courgette', cursive;
$base-font-size:                       17px;
$base-line-height:                       1.4;
$small-text:                            .9em;
$medium-text:                            1.25em;
$large-text:                             1.75em;
$post-text:                              1.25em;
$post-line-height:                        1.5;
$header-text:                            1em;
$editor-text:                            1.75em;
$editor-line-height:                       2.2;


// FORMS
$form-spacing: 1em;
