@import "variables"

html, body
  height: 100%
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font-family: $helvetica-family
  background-color: $app-bg-color
  overflow:hidden

.slide
  overflow: auto
  height: inherit
  width:100%
  font-size: 3.5em
  // margin: 2px;
  border: 1px solid #DEDEDE

  -webkit-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)
  -moz-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)
  box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)

  text-align: left
  padding: 0
  padding-right: 1em
  padding-left: .25em
  margin: 0
  &.edit-slide
    // border:none
    outline: none

.viewer
  padding: 1em
  padding-right: .5em

.sidebar-column
  max-width: 3em

// BUTTONS
button
  &.icon-button
    background-color: transparent
    border:none
    color: $light-gray

    .fa
      color: $light-gray

    &:focus
     outline: 0

    i:hover
      color: $steel-gray
  &.medium-button
    font-size: 1.25em;
  &.large-button
    font-size: 1.5em;

  &.unstyled
    background-color: transparent
    border:none

    &:focus
     outline: 0

// LAYOUT
.display-table
  display: table

  .table-row
    display: table-row

    .table-cell
      display: table-cell

      &.vertical-middle
        vertical-align:middle

      &.vertical-top
        vertical-align: top

      &.vertical-bottom
        vertical-align: bottom

.full-height
  height: 100%

.full-width
  width: 100%

.overflow-y-hidden
  overflow-y: hidden

// HELPERS
.pointer-cursor:hover
  cursor: pointer
