@import "normalize"
@import "variables"
@import "helpers"
@import "base"
@import "editor"

.app-container
  padding: 1.5em 1.5em .5em 1.5em
  padding-right: .5em
  max-width: 80em
  margin-left: auto
  margin-right: auto


.sidebar-column
  max-width: 3em

// BUTTONS
button
  &.icon-button
    background-color: transparent
    border:none
    color: $light-gray

    .fa
      color: $light-gray

    &:focus
     outline: 0

    i:hover
      color: $steel-gray
  &.medium-button
    font-size: 1.25em;
  &.large-button
    font-size: 1.5em;

  &.unstyled
    background-color: transparent
    border:none

    &:focus
     outline: 0
