<template name="mainLayout">
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
             {{> decksList}}
            </ul>
        </div>
        <div id="page-content-wrapper">
          <div class="container-fluid">
              {{> sAlert template='dkAlert'}}
              {{#if editMode}}
              {{> appHeader}}
              {{/if}}
              {{> yield}}
              {{#if editMode}}
              {{> appFooter}}
              {{/if}}
          </div>
       </div>
    </div>
  {{> googleAnalytics}}
</template>