<template name="editPost">
  <div class="display-table full-width full-height">
    <div class="table-row app-header">
      {{> appHeader}}
    </div>
    <div class="table-row full-width full-height app-content-row">
      <div class="table-cell full-width full-height">
       <textarea id="post_content" name="slide" class="slide get-content full-height full-width preview-on-blur auto-preview clear-content auto-save-preview shift-return" placeholder="Write something...">{{content}}</textarea>
      </div>
    </div>
    {{> slideFooter}}
</div>
</template>
