<template name="editSlideTmp">
  <form class="content-form display-table full-height">
    <div class="table-row full-width">
      <div class="table-cell full-width full-height">
        <textarea name="slide" class="slide edit-slide get-title" placeholder="Write something..." data-persist="garlic">{{slideContent}}</textarea>
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell sidebar-column vertical-bottom">
        <button type="reset" class="icon-button medium-button clear-content" title="Clear page content" alt="Clear page content"><i class="fa fa-trash-o fa-2x"></i></button>
      </div>
      <div class="table-cell sidebar-column vertical-bottom">
        <button type="button" class="icon-button medium-button done-editing" title="Done editing" alt="Done editing"><i class="fa fa-check fa-2x"></i></button>
      </div>
    </div>
  </form>
</template>
