<template name="appHeader">
  <div class="app-header">
    <div class="left-section">
    {{#if showSideBar}}
      <button type="button" class="icon-button medium-button toggle-sidebar" title="View menu" alt="View menu">
        <i class="fa fa-bars"></i>
      </button>
      {{/if}}
      {{#if saveMsg}}
       <button type="button" class="icon-button medium-button save-to-cloud" title="Save to the cloud." alt="Save to the cloud.">
        <i class="fa fa-cloud-upload"></i> (Save to the cloud.)
      </button>
      {{/if}}
    </div>
    <div class="middle-section align-center">
      &nbsp;
    </div>
    <div class="right-section">
      {{> loginButtons}}
    </div>
  </div>
</template>

<template name="foo">
{{#if currentUser}}
    <div class="dropdown-container">
      {{#dropdownTrigger name="user_nav_dropdown"}}
        <button class="btn-unstyled">
          {{#with currentUser}}
            {{> avatar user=this shape="circle"}}
          {{/with}}
        </button>
      {{/dropdownTrigger}}
      {{#dropdown name="user_nav_dropdown"}}
        <button class="unstyled logout">
          Sign Out
        </button>
      {{/dropdown}}
    </div>
    {{else}}
      <button type="button" class="icon-button medium-button modal-login" title="Sign in" alt="Sign In">
        <i class="fa fa-sign-in"></i>
      </button>        
  {{/if}}

  {{#if loggingIn}}
  Logging in...
  {{else}}
  {{/if}}
</template>

