<template name="postContent">
  {{#if editMode}}
    <textarea id="post_content" name="slide" class="editor clear-content show-on-shift-return {{#if localSave}}local-save{{else}}db-save{{/if}}" placeholder="Write something...">{{#if localContent}}{{localContent}}{{else}}{{content}}{{/if}}</textarea>
  {{else}}
    <div class="viewer pointer-cursor edit-mode clear-content">
      {{#markdown}}{{#if localContent}}{{localContent}}{{else}}{{content}}{{/if}}{{/markdown}}
    </div>
  {{/if}}
</template>