<template name="slideShell">
<div class="display-table full-width full-height">
  <div class="table-row full-width full-height app-content-row">
  {{#if editingSlide}}
    <div class="table-cell full-width full-height">
      {{> editSlide}}
    </div>
    {{else}}
      <div class="table-cell full-width full-height">
       {{> viewSlide}}
    </div>
    {{/if}}
    <div class="table-cell vertical-top align-center">
    {{> slideControls}}
    </div>
  </div>
  {{#unless fullScreenActive}}
    {{> slideFooter}}
  {{/unless}}
</div>
</template>