template(name="editSlideTmp")
  form.display-table.full-width.full-height
    .table-row.full-width
      .table-cell.full-width.full-height
        textarea.slide.edit-slide.get-title(name="slide", placeholder="Write something...", data-persist="garlic")
          #{slideContent}
      .table-cell.align-center.vertical-top
        button.icon-button.medium-button.full-screen(type="button", title="Present your deck", alt="Present your deck")
          i.fa.fa-arrows-alt.fa-2x
    .table-row
      .table-cell
        .display-table.full-width
          .table-row
            .table-cell
              p Deckd brand and icons
            .table-cell.align-center
              p Help Info
      .table-cell


        //- .display-table.full-width.full-height
        //-   .table-row
        //-     .table-cell.vertical-top
        //-       button.icon-button.medium-button.full-screen(type="button", title="Present your deck", alt="Present your deck")
        //-         i.fa.fa-arrows-alt.fa-2x
        //-       p foo
        //-   .table-row
        //-     .table-cell.vertical-bottom.align-center
        //-       button.icon-button.medium-button.clear-content(type="reset", title="Clear page content", alt="Clear page content")
        //-         i.fa.fa-trash-o.fa-2x