<template name="slideFooter">
  <div class="table-row full-width">
    <div class="table-cell full-width">
      <div class="display-table full-width slide-footer">
        <div class="table-cell brand">
          Deckd
        </div>
        <div class="table-cell vertical-middle align-right">
          {{#if hasContent}}
           <button type="button" class="icon-button medium-button clear-content-btn" title="Clear page content" alt="Clear page content"><i class="fa fa-trash-o fa-2x"></i></button>
           {{/if}}
        </div>
      </div>
    </div>
    <div class="table-cell">
      &nbsp;
    </div>
  </div>
</template>