<template name="slideFooter">
  <div class="table-row full-width">
    <div class="table-cell full-width">
      <div class="display-table full-width slide-footer">
        <div class="table-cell">
          <span class="brand">Deckd</span>
          <!-- <button type="button" class="icon-button" title="Go to our Twitter page" alt="Go to our Twitter page"><i class="fa fa-twitter"></i></button>
          <button type="button" class="icon-button" title="Go to our Twitter page" alt="Go to our Twitter page"><i class="fa fa-github"></i></button>
          <i class="fa fa-envelope-o"></i>
          <i class="fa fa-question-circle"></i> -->
        </div>
        <!-- <div class="table-cell"> </div> -->
        <div class="table-cell vertical-middle align-center help-text">
        {{{helpText}}}
        </div>
        <div class="table-cell vertical-middle align-right">
          {{#if hasContent}}
           <button type="button" class="icon-button medium-button clear-content-btn" title="Clear page content" alt="Clear page content"><i class="fa fa-trash-o fa-2x"></i></button>
           {{/if}}
        </div>
      </div>
    </div>
    <div class="table-cell">
      &nbsp;
    </div>
  </div>
</template>